*{
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.bg-color{
  background: rgba(229, 84, 115, 0.10);
  height: 500px;
  display: flex;
  justify-content:space-between;
  background-image: url('/Flower\ Asset/pngwing 10.png');
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: 800px 60px;
}
.header-part{
  padding-top: 100px;
  padding-left: 250px;
  width: 400px;
}
.title-design{
  color: #272727;
font-size: 40px;
font-weight: 800;
padding-bottom: 15px;
}
.description-style{
  color: rgba(39, 39, 39, 0.60);
font-size: 13px;
font-weight: 400;
padding-bottom: 15px;
}
.btn-style{
  color: white;
  background: #E55473;
  border-radius: 8px;
  padding: 15px 30px;
  border: none;
}

/* flower-feature */
.flower-feature{
height: 700px;
color: white;
}
.featured-title{
 color: #272727;
 text-align: center;
 font-size: 30px;
 font-weight: 800;
 padding-top: 50px;
}
.featured-description{
  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 12px;
font-weight: 400;
padding: 15px 550px;
}
.featured-img{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-left: 300px;

}
.flowers-6{
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  background-image: url('../Flower\ Asset/pngwing 6.png');
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 280px;
  height: 350px;
}
.pink{
  padding-top:380px;
  color: #272727;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  text-decoration-line: underline;
}
.flowers-5{
  background-color: rgba(5, 151, 160, 0.15);
  border-radius: 300px 300px 0px 0px;
  background-image: url('../Flower\ Asset/pngwing 5.png');
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 280px;
  height: 350px;
}
.blue{
  padding-top:380px;
  color: #272727;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  text-decoration-line: underline;
}
.flowers-7{
  background-color:rgba(71, 125, 17, 0.15);
  border-radius: 300px 300px 0px 0px;
  background-image: url('../Flower\ Asset/pngwing 7.png');
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 280px;
  height: 350px;
}
.yellow{
  padding-top:380px;
  color: #272727;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  text-decoration-line: underline;
}

.special{
  background-color: rgba(5, 151, 160, 0.15);
  color: rgb(44, 42, 42);
  padding-top: 50px;
  text-align: center;
  font-size: 45px;
  height: 550px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 100px;
}
.special-color{
  color:#E55473;
}
.flower-img{
  height: 500px;
  width: 350px;
  padding-bottom: 25px;
  padding-right: 150px;
}
.img-btn{
  display: flex;
}

.btn-style-img{
  color: white;
  background: #E55473;
  border-radius: 8px 0px 0px 8px ;
  height: 500px;
  padding: 15px 30px;
  border: none;
  font-size: 15px;
}
.special-description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 20px;
  font-weight: 400;
}
/* hot deal */
.bg-hot{
  background-color: rgba(229, 84, 115, 0.05);
  color: rgb(44, 42, 42);
  height: 600px;
  display: flex;
  align-items: center;
  background-image: url("../Flower\ Asset/pngwing 8.png");
  background-repeat: no-repeat;
  background-position: 1000px 100px;
}
.hot-title{
  font-size: 40px;
  text-align: center;
  padding-right: 650px;
  padding-left: 100px;
  padding-bottom:10px ;
  
}
.off{
  color: rgba(229, 84, 115, 1);
}
.hot-description{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-left: 150px;
  padding-right: 700px;
  padding-bottom:12px ;
}
.hot-btn{
  padding-left: 480px;
}
.hot-img{
  display: flex;
}
/* social media */
.social{
  background-color: white;
  height: 150px;
  text-align: center;
  padding-top: 70px ;
}
.ig-social{
  font-size: 30px;
  color: #272727;
}
.ig-description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 15px;
  padding: 18px 500px;
}
.ig-img{
  display: flex;
  gap:8px;
  padding: 0px 140px 80px ;
}
.ig-bg{
  width: 300px;
height: 350px;
}